<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Finpeak - Business Finance Consulting Template</title>
		<!--meta-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.2">
		<meta name="format-detection" content="telephone=no">
		<meta name="keywords" content="Business, Finance, Consulting, Accounting, Loans, Optimization, Analyzes, Banking, Audit, Capital, Costs reduction, Employee benefits, Company value">
		<meta name="description" content="Business Finance Consulting Template">
		<!--slider revolution-->
		<link rel="stylesheet" type="text/css" href="rs-plugin/css/settings.css">
		<!--style-->
		<link href='../../css?family=Nunito+Sans:300,400,600&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
		<link href='../../css-1?family=Montserrat:500,600&amp;subset=latin-ext' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/reset.css">
		<link rel="stylesheet" type="text/css" href="style/superfish.css">
		<link rel="stylesheet" type="text/css" href="style/prettyPhoto.css">
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css">
		<link rel="stylesheet" type="text/css" href="style/style.css">
		<link rel="stylesheet" type="text/css" href="style/animations.css">
		<link rel="stylesheet" type="text/css" href="style/responsive.css">
		<link rel="stylesheet" type="text/css" href="style/odometer-theme-default.css">
		<!--fonts-->
		<link rel="stylesheet" type="text/css" href="fonts/features/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/template/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/template-big/style.css">
		<link rel="stylesheet" type="text/css" href="fonts/social/style.css">
		<link rel="shortcut icon" href="images/favicon.ico">
	</head>
	<body class="fp-site-preloader with-topbar">
				<div style="position: fixed; display: flex; align-items: center; justify-content: center; transition: background 0.5s ease 0s; left: 0; top: 0; width: 100%; height: 100%; background: #FFF; z-index: 9999999;" class="fp-site-preloader-overlay"><div class="fp-preloader-spinner"></div></div>
				<div class="site-container">
					<div class="header-top-bar-container clearfix">
				<div class="header-top-bar">
										<ul class="contact-details clearfix">
						<li class="template-location1">
							4744 Havanna Street, Greensboro
						</li>
						<li class="template-phone">
							<a href="tel:+48555223224">+48 555 223 224</a>
						</li>
					</ul>
					<ul class="contact-details clearfix hide-on-mobiles">
						<li class="template-time">
							Mon - Fri: 8:00 am - 5:00 pm&nbsp;&nbsp;&nbsp;&middot;&nbsp;&nbsp;&nbsp;Closed on Weekends
						</li>
					</ul>
					<ul class="social-icons">
						<li class="show-on-mobiles">
							<a href="#" class="template-cart"><span class="cart-items-number">2<span class="cart-items-number-arrow"></span></span></a>
						</li>
						<li>
							<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
						</li>
						<li>
							<a href="https://www.buymeacoffee.com/quanticalabs" class="social-paypal" title="paypal"></a>
						</li>
						<!--
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-angies-list"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-behance"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-deviantart"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-dribbble"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-email"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-envato"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-flickr"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-foursquare"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-github"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-google-plus"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-houzz"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-instagram"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-linkedin"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-location"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-mobile"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-reddit"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-rss"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-skype"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-snapchat"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-soundcloud"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-spotify"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-stumbleupon"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-telegram"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-tiktok"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-tumblr"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vimeo"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vine"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-vk"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-weibo"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-whatsapp"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-xing"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-yelp"></a>
						</li>
						<li>
							<a title="" href="https://1.envato.market/quanticalabs" class="social-youtube"></a>
						</li>
						-->
					</ul>
									</div>
				<a href="#" class="header-toggle template-chev-up1"></a>
			</div>
						<div class="header-container sticky">
			<!--<div class="header-container sticky">-->
				<div class="header clearfix with-more-button">
										<div class="logo">
						<h1>
							<a href="index-1.htm?page=home" title="Finpeak">
								<img src="images/logo.png" srcset="images/logo_retina.png 2x" class="primary-logo" alt="logo">
								<img src="images/logo_alternative.png" srcset="images/logo_alternative_retina.png 2x" class="secondary-logo" alt="logo">
								<span class="logo-text">FINPEAK</span>
							</a>
						</h1>
											</div>
					<div class="menu-container clearfix">
						<nav>
	<ul class="sf-menu">
		<li class="submenu">
			<a href="index-1.htm?page=home" title="Home">
				Home
			</a>
			<ul>
				<li>
					<a href="index-1.htm?page=home" title="Home style 1">
						Home style 1
					</a>
				</li>
				<li>
					<a href="index-2.htm?page=home_2" title="Home style 2">
						Home style 2
					</a>
				</li>
				<li>
					<a href="index-3.htm?page=home_transparent_header" title="Home transparent header">
						Home transparent header
					</a>
				</li>
			</ul>
		</li>
		<li class="submenu">
			<a href="index-4.htm?page=about" title="Pages">
				Pages
			</a>
			<ul>
				<li class="submenu">
					<a href="index-4.htm?page=about" title="About style 1">
						About
					</a>
					<ul>
						<li>
							<a href="index-4.htm?page=about" title="About style 1">
								About style 1
							</a>
						</li>
						<li>
							<a href="index-5.htm?page=about_2" title="About style 2">
								About style 2
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="index-6.htm?page=services" title="Our services style 1">
						Our services
					</a>
					<ul>
						<li>
							<a href="index-6.htm?page=services" title="Our services style 1">
								Our services style 1
							</a>
						</li>
						<li>
							<a href="index-7.htm?page=services_2" title="Our services style 2">
								Our services style 2
							</a>
						</li>
						<li>
							<a href="index-8.htm?page=service_accounting_and_tax_advisory_services" title="Single service style 1">
								Single service style 1
							</a>
						</li>
						<li>
							<a href="index-9.htm?page=service_strategic_and_transaction_consulting_services" title="Single service style 2">
								Single service style 2
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="index-10.htm?page=case_studies" title="Case studies">
						Case studies
					</a>
					<ul>
						<li>
							<a href="index-10.htm?page=case_studies" title="Case studies">
								Case studies
							</a>
						</li>
						<li>
							<a href="index-11.htm?page=study_consulting_for_corporations" title="Single case study">
								Single case study
							</a>
						</li>
					</ul>
				</li>
				<li class="submenu">
					<a href="index-12.htm?page=team" title="Our team">
						Our team
					</a>
					<ul>
						<li>
							<a href="index-12.htm?page=team" title="Our team">
								Our team
							</a>
						</li>
						<li>
							<a href="index-13.htm?page=team_ann_underwood" title="Single team member">
								Single team member
							</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="index-14.htm?page=testimonials" title="Testimonials">
						Testimonials
					</a>
				</li>
				<li>
					<a href="index-15.htm?page=price_list" title="Price list">
						Price list
					</a>
				</li>
				<li>
					<a href="index-16.htm?page=404" title="404 not found">
						404 not found
					</a>
				</li>
			</ul>
		</li>
		<li class="submenu">
			<a href="index-6.htm?page=services" title="Services">
				Services
			</a>
			<ul>
				<li>
					<a href="index-8.htm?page=service_accounting_and_tax_advisory_services" title="Accounting and tax advisory">
						Accounting and tax advisory
					</a>
				</li>
				<li>
					<a href="index-9.htm?page=service_strategic_and_transaction_consulting_services" title="Strategic and transaction consulting services">
						Consulting services
					</a>
				</li>
				<li>
					<a href="index-17.htm?page=service_loans_and_reviews_of_financial_statements" title="Loans and reviews of financial statements">
						Financial statements
					</a>
				</li>
				<li>
					<a href="index-18.htm?page=service_business_plans_valuations_and_analyzes" title="Business plans valuations and analyzes">
						Business growth
					</a>
				</li>
				<li>
					<a href="index-19.htm?page=service_performance_management_and_improvement" title="Performance management and improvement">
						Banking advising
					</a>
				</li>
				<li>
					<a href="index-20.htm?page=service_small_business_employee_benefits" title="Small business employee benefits">
						Audit marketing
					</a>
				</li>
			</ul>
		</li>
		<li class="submenu">
			<a href="index-10.htm?page=case_studies" title="Case studies">
				Studies
			</a>
			<ul>
				<li>
					<a href="index-11.htm?page=study_consulting_for_corporations" title="Consulting for corporations">
						Consulting for corporations
					</a>
				</li>
				<li>
					<a href="index-21.htm?page=study_company_value_appraisal" title="Company value appraisal">
						Company value appraisal
					</a>
				</li>
				<li>
					<a href="index-22.htm?page=study_reduction_of_fixed_costs" title="Reduction of fixed costs">
						Reduction of fixed costs
					</a>
				</li>
				<li>
					<a href="index-23.htm?page=study_distribution_process_analysis" title="Distribution process analysis">
						Distribution process analysis
					</a>
				</li>
				<li>
					<a href="index-24.htm?page=study_optimization_of_financial_flows" title="Optimization of financial flows">
						Optimization of financial flows
					</a>
				</li>
				<li>
					<a href="index-25.htm?page=study_capital_plans_for_employees" title="Captial plans for employees">
						Captial plans for employees
					</a>
				</li>
			</ul>
		</li>
		<li class="submenu">
			<a href="index-26.htm?page=bookkeeping_quoting_calculator" title="Calculator">
				Calculator
			</a>
			<ul>
				<li>
					<a href="index-26.htm?page=bookkeeping_quoting_calculator" title="Bookkeeping quoting calculator">
						Bookkeeping calculator
					</a>
				</li>
				<li>
					<a href="index-27.htm?page=loan_cost_calculator" title="Loan cost calculator">
						Loan cost calculator
					</a>
				</li>
			</ul>
		</li>
		<li class="submenu selected">
			<a href="index-28.htm?page=blog" title="Blog">
				Blog
			</a>
			<ul>
				<li>
					<a href="index-28.htm?page=blog" title="Blog">
						Blog
					</a>
				</li>
				<li>
					<a href="index-29.htm?page=blog_grid" title="Blog grid">
						Blog grid 
					</a>
				</li>
				<li>
					<a href="index-30.htm?page=blog_grid_with_sidebar" title="Blog grid with sidebar">
						Blog grid with sidebar
					</a>
				</li>
				<li>
					<a href="index-31.htm?page=blog_grid_with_left_sidebar" title="Blog grid with left sidebar">
						Blog grid with left sidebar
					</a>
				</li>
				<li class='selected'>
					<a href="index-32.htm?page=post" title="Single post">
						Single post
					</a>
				</li>
				<li>
					<a href="index-33.htm?page=search&amp;s=ipsum" title="Search template">
						Search template
					</a>
				</li>
			</ul>
		</li>
		<li class="left-flyout submenu">
			<a href="index-34.htm?page=contact" title="Contact">
				Contact
			</a>
			<ul>
				<li>
					<a href="index-34.htm?page=contact" title="Contact style 1">
						Contact style 1
					</a>
				</li>
				<li>
					<a href="index-35.htm?page=contact_2" title="Contact style 2">
						Contact style 2
					</a>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<div class="mobile-menu-container">
	<nav>
		<ul class="mobile-menu collapsible-mobile-submenus">
			<li><a class="template-big-arrow-horizontal-sm" href="#">&nbsp;</a></li>
			<li>
				<a href="index-1.htm?page=home" title="Home">
					Home
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-1.htm?page=home" title="Home style 1">
							Home style 1
						</a>
					</li>
					<li>
						<a href="index-2.htm?page=home_2" title="Home style 2">
							Home style 2
						</a>
					</li>
					<li>
						<a href="index-3.htm?page=home_transparent_header" title="Home transparent header">
							Home transparent header
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index-4.htm?page=about" title="Pages">
					Pages
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li class="submenu">
						<a href="index-4.htm?page=about" title="About style 1">
							About
						</a>
						<a href="#" class="template-plus3"></a>
						<ul>
							<li>
								<a href="index-4.htm?page=about" title="About style 1">
									About style 1
								</a>
							</li>
							<li>
								<a href="index-5.htm?page=about_2" title="About style 2">
									About style 2
								</a>
							</li>
						</ul>
					</li>
					<li class="submenu">
						<a href="index-6.htm?page=services" title="Our services style 1">
							Our services
						</a>
						<a href="#" class="template-plus3"></a>
						<ul>
							<li>
								<a href="index-6.htm?page=services" title="Our services style 1">
									Our services style 1
								</a>
							</li>
							<li>
								<a href="index-7.htm?page=services_2" title="Our services style 2">
									Our services style 2
								</a>
							</li>
							<li>
							<a href="index-8.htm?page=service_accounting_and_tax_advisory_services" title="Single service style 1">
								Single service style 1
							</a>
						</li>
						<li>
							<a href="index-9.htm?page=service_strategic_and_transaction_consulting_services" title="Single service style 2">
								Single service style 2
							</a>
						</li>
						</ul>
					</li>
					<li class="submenu">
						<a href="index-10.htm?page=case_studies" title="Case studies">
							Case studies
						</a>
						<a href="#" class="template-plus3"></a>
						<ul>
							<li>
								<a href="index-10.htm?page=case_studies" title="Case studies">
									Case studies
								</a>
							</li>
							<li>
								<a href="index-11.htm?page=study_consulting_for_corporations" title="Single case study">
									Single case study
								</a>
							</li>
						</ul>
					</li>
					<li class="submenu">
						<a href="index-12.htm?page=team" title="Our team">
							Our team
						</a>
						<a href="#" class="template-plus3"></a>
						<ul>
							<li>
								<a href="index-12.htm?page=team" title="Our team">
									Our team
								</a>
							</li>
							<li>
								<a href="index-13.htm?page=team_ann_underwood" title="Single team member">
									Single team member
								</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="index-14.htm?page=testimonials" title="Testimonials">
							Testimonials
						</a>
					</li>
					<li>
						<a href="index-15.htm?page=price_list" title="Price list">
							Price list
						</a>
					</li>
					<li>
						<a href="index-16.htm?page=404" title="404 not found">
							404 not found
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index-6.htm?page=services" title="Services">
					Services
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-8.htm?page=service_accounting_and_tax_advisory_services" title="Accounting and tax advisory services">
							Accounting and tax advisory
						</a>
					</li>
					<li>
						<a href="index-9.htm?page=service_strategic_and_transaction_consulting_services" title="Strategic and transaction consulting services">
							Consulting services
						</a>
					</li>
					<li>
						<a href="index-17.htm?page=service_loans_and_reviews_of_financial_statements" title="Loans and reviews of financial statements">
							Financial statements
						</a>
					</li>
					<li>
						<a href="index-18.htm?page=service_business_plans_valuations_and_analyzes" title="Business plans valuations and analyzes">
							Business growth
						</a>
					</li>
					<li>
						<a href="index-19.htm?page=service_performance_management_and_improvement" title="Performance management and improvement">
							Banking advising
						</a>
					</li>
					<li>
						<a href="index-20.htm?page=service_small_business_employee_benefits" title="Small business employee benefits">
							Audit marketing
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index-10.htm?page=case_studies" title="Case studies">
					Studies
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-11.htm?page=study_consulting_for_corporations" title="Consulting for corporations">
							Consulting for corporations
						</a>
					</li>
					<li>
						<a href="index-21.htm?page=study_company_value_appraisal" title="Company value appraisal">
							Company value appraisal
						</a>
					</li>
					<li>
						<a href="index-22.htm?page=study_reduction_of_fixed_costs" title="Reduction of fixed costs">
							Reduction of fixed costs
						</a>
					</li>
					<li>
						<a href="index-23.htm?page=study_distribution_process_analysis" title="Distribution process analysis">
							Distribution process analysis
						</a>
					</li>
					<li>
						<a href="index-24.htm?page=study_optimization_of_financial_flows" title="Optimization of financial flows">
							Optimization of financial flows
						</a>
					</li>
					<li>
						<a href="index-25.htm?page=study_capital_plans_for_employees" title="Captial plans for employees">
							Captial plans for employees
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index-26.htm?page=bookkeeping_quoting_calculator" title="Calculator">
					Calculator
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-26.htm?page=bookkeeping_quoting_calculator" title="Bookkeeping quoting calculator">
							Bookkeeping calculator
						</a>
					</li>
					<li>
						<a href="index-27.htm?page=loan_cost_calculator" title="Loan cost calculator">
							Loan cost calculator
						</a>
					</li>
				</ul>
			</li>
			<li class='selected'>
				<a href="index-28.htm?page=blog" title="Blog">
					Blog
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-28.htm?page=blog" title="Blog">
							Blog
						</a>
					</li>
					<li>
						<a href="index-29.htm?page=blog_grid" title="Blog grid">
							Blog grid 
						</a>
					</li>
					<li>
						<a href="index-30.htm?page=blog_grid_with_sidebar" title="Blog grid with sidebar">
							Blog grid with sidebar
						</a>
					</li>
					<li>
						<a href="index-31.htm?page=blog_grid_with_left_sidebar" title="Blog grid with sidebar">
							Blog grid with left sidebar
						</a>
					</li>
					<li class='selected'>
						<a href="index-32.htm?page=post" title="Single post">
							Single post
						</a>
					</li>
					<li>
						<a href="index-33.htm?page=search&amp;s=ipsum" title="Search template">
							Search template
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="index-34.htm?page=contact" title="Contact">
					Contact
				</a>
				<a href="#" class="template-plus3"></a>
				<ul>
					<li>
						<a href="index-34.htm?page=contact" title="Contact style 1">
							Contact style 1
						</a>
					</li>
					<li>
						<a href="index-35.htm?page=contact_2" title="Contact style 2">
							Contact style 2
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a class="more display-block" href="index-26.htm?page=bookkeeping_quoting_calculator" title="Get a quote">Get a quote</a>
			</li>
		</ul>
	</nav>
</div>					</div>
					<div class="header-icons-container">
						<a class="template-big-search" href="#" title="Search"></a>
						<a href="#" class="template-big-cart hide-on-mobiles"><span class="cart-items-number">2<span class="cart-items-number-arrow"></span></span></a>
					</div>
										<a href="#" class="mobile-menu-switch">
						<span class="line"></span>
						<span class="line"></span>
						<span class="line"></span>
					</a>
				</div>
			</div><div class="theme-page">
	<div class="row full-width page-header">
		<div class="row">
			<div class="bread-crumb-container">
				<ul class="bread-crumb">
					<li>
						<a title="Home" href="index-1.htm?page=home">
							Home
						</a>
					</li>
					<li class="separator">
						&middot;
					</li>
					<li>
						<a title="Blog" href="index-28.htm?page=blog">
							Blog
						</a>
					</li>
					<li class="separator">
						&middot;
					</li>
					<li>
						5 reasons why your business needs an expense policy
					</li>
				</ul>
			</div>
			<h1>5 reasons why your business needs an expense policy</h1>
		</div>
	</div>
	<div class="clearfix">
		<div class="row page-margin-top-section margin-bottom-100">
			<div class="column column-2-3">
				<div class="blog clearfix">
					<div class="post single">
						<div class="image-box">
							<a href="index-32.htm?page=post" title="5 reasons why your business needs an expense policy" class="post-image">
								<img src="images/samples/830x460/image_01.jpg" alt="">
							</a>
							<ul class="post-categories">
								<li><a href="index-36.htm?page=category&amp;cat=business" title="Business">BUSINESS</a></li>
								<li><a href="index-37.htm?page=category&amp;cat=taxes" title="Taxes">TAXES</a></li>
							</ul>
						</div>
						<ul class="post-details margin-top-40">
							<li class="date template-calendar"><a href="index-32.htm?page=post" title="5 reasons why your business needs an expense policy">April 10, 2022</a></li>
							<li class="template-author"><a href="index-38.htm?page=team_klaus_hertzog" title="Klaus Hertzog">Klaus Hertzog</a></li>
							<li class="template-message3"><a href="index-32.htm?page=post#comments-list" title="2 Comments">2 Comments</a></li>
							<li class="template-pin">Pinned</li>
						</ul>
						<h3>An expense policy: necessary or superfluous?</h3>
						<p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services.</p>
						<p>Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
						<h3>Diverse problematic</h3>
						<p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
						<p>Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
						<div class="row margin-top-30">
							<div class="column column-1-2">
								<a href="images/samples/480x320/image_04.jpg" class="single-image prettyPhoto fp-preload hover-opacity" title="Career opportunities">
									<img src='images/samples/390x260/image_04.jpg' alt='img'>
								</a>
							</div>
							<div class="column column-1-2">
								<div class="single-image fp-preload">
									<img src='images/samples/decor_05.png' alt='img'>
								</div>
							</div>
						</div>
						<h3>Sampling moving</h3>
						<p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
						<blockquote class="margin-top-57">
							<p>FinPeak is a reliable cooperation partner that approaches its work very professionally, even in the case of smaller entities. Throughout our cooperation I had a sense of comfort and security.</p>
						</blockquote>
						<p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures.</p>
						<h3>Sampling moving</h3>
						<p>Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts for change for interoperable meta-services. Distinctively re-engineer revolutionary meta-services and premium architectures. Intrinsically incubate intuitive opportunities and real-time potentialities. Appropriately communicate one-to-one technology.</p>
						<div class="post-footer page-margin-top">
							<ul class="taxonomies">
								<li><a href="#" title="Finances">FINANCES</a></li>
								<li><a href="#" title="Fintech">FINTECH</a></li>
								<li><a href="#" title="Loan">LOAN</a></li>
							</ul>
							<ul class="social-icons">
								<li class="label">Share:</li>
								<li>
									<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
								</li>
								<li>
									<a target="_blank" href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
								</li>
								<li>
									<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="author-box page-margin-top">
					<a href="index-38.htm?page=team_klaus_hertzog" title="Klaus Hertzog" class="hover-opacity"><img src="images/samples/100x100/image_12.jpg" alt=""></a>
					<h5><a href="index-38.htm?page=team_klaus_hertzog" title="Klaus Hertzog">Klaus Hertzog</a></h5>
					<ul class="post-details">
						<li class="template-author"><a href="index-38.htm?page=team_klaus_hertzog" title="Klaus Hertzog">Post Author</a></li>
					</ul>
					<p class="margin-top-23">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate atet standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts.</p>
					<a class="template-right2 read-more" href="index-28.htm?page=blog">See all posts</a>
				</div>
				<h3 class="margin-top-60">Related posts</h3>
				<ul class="blog margin-top-44 clearfix">
					<li class="column column-1-2">
						<div class="image-box">
							<a href="index-32.htm?page=post" title="6 main differences between an LLC and a corporation" class="post-image">
								<img src="images/samples/480x320/image_11.jpg" alt="">
							</a>
							<ul class="post-categories">
								<li><a href="index-39.htm?page=category&amp;cat=finances" title="Finances">FINANCES</a></li>
							</ul>
						</div>
						<div class="post-content-container">
							<ul class="post-details">
								<li class="date template-calendar"><a href="index-32.htm?page=post" title="6 main differences between an LLC and a corporation">March 17, 2022</a></li>
								<li class="template-author"><a href="index-13.htm?page=team_ann_underwood" title="Ann Underwood">Ann Underwood</a></li>
							</ul>
							<h5><a href="index-32.htm?page=post">6 main differences between an LLC and a corporation</a></h5>
						</div>
					</li>
					<li class="column column-1-2">
						<div class="image-box">
							<a href="index-32.htm?page=post" title="What you need to know about bookkeeping services" class="post-image">
								<img src="images/samples/480x320/image_01.jpg" alt="">
							</a>
							<ul class="post-categories">
								<li><a href="index-40.htm?page=category&amp;cat=accounting" title="Accounting">ACCOUNTING</a></li>
							</ul>
						</div>
						<div class="post-content-container">
							<ul class="post-details">
								<li class="date template-calendar"><a href="index-32.htm?page=post" title="What you need to know about bookkeeping services">March 10, 2022</a></li>
								<li class="template-author"><a href="index-41.htm?page=team_raphael_gap" title="Raphael Gap">Raphael Gap</a></li>
							</ul>
							<h5><a href="index-32.htm?page=post">What you need to know about bookkeeping services</a></h5>
						</div>
					</li>
				</ul>
				<div class="row margin-top-60">
					<h3>Leave a comment</h3>
					<p>Your email address will not be published. Required fields are marked *</p>
					<form class="comment-form margin-top-30" id="comment-form" method="post" action="/Finpeak/Template/?page=post">
						<div class="row flex-box">
							<fieldset class="column column-1-2">
								<div class="border-container">
									<label>Name *</label>
									<input class="text-input" name="name" type="text" value="" placeholder="Your Name" data-required="1">
								</div>
							</fieldset>
							<fieldset class="column column-1-2">
								<div class="border-container">
									<label>Email *</label>
									<input class="text-input" name="email" type="text" value="" placeholder="your@email.com" data-required="1">
								</div>
							</fieldset>
						</div>
						<div class="row flex-box">
							<fieldset class="column column-1-2">
								<div class="border-container">
									<label>Website</label>
									<input class="text-input" name="website" type="text" value="" placeholder="example.com">
								</div>
							</fieldset>
							<fieldset class="column column-1-2">
								<div class="border-container">
									<label>Subject</label>
									<input class="text-input" name="subject" type="text" value="" placeholder="Optional">
								</div>
							</fieldset>
						</div>
						<div class="row flex-box">
							<fieldset class="column column-1-1">
								<div class="border-container">
									<label>Comment *</label>
									<textarea name="message" placeholder="Hi there..." data-required="1"></textarea>
								</div>
							</fieldset>
						</div>
						<fieldset class="submit-container margin-top-30">
							<div class="terms-container">
								<input type="checkbox" name="terms" id="terms" value="1" checked="checked" class="template-check1">
								<label for="terms">Check here to indicate that you have read and agree to the <a href="#" title="Terms and conditions document">terms and conditions</a></label>
								<a href="#cancel" id="cancel-comment" title="Cancel reply">Cancel reply</a>
							</div>
							<input type="hidden" name="action" value="contact_form">
							<div class="row align-center">
								<a class="more submit-contact-form" href="#" title="Submit now">Submit now</a>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="row margin-top-60">
					<h3>3 comments</h3>
					<ul id="comments-list">
						<li class="comment clearfix" id="comment-1">
							<div class="author-box">
								<img src="images/samples/100x100/image_09.jpg" alt="">
								<h5>Monica Johnsonn</h5>
								<ul class="post-details">
									<li class="template-calendar">7 Days Ago</li>
								</ul>
								<p class="margin-top-23">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate atet standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts.</p>
								<a class="template-right2 read-more" href="#comment-form" title="Reply">Reply</a>
							</div>
							<ul class="children">
								<li class="comment clearfix" id="comment-3">
									<div class="author-box">
										<img src="images/samples/100x100/image_11.jpg" alt="">
										<h5>John Miković</h5>
										<ul class="post-details">
											<li class="template-calendar">1 Day Ago</li>
											<li class="template-message1"><a href="#comment-1" class="in-reply">Monica Johnsonn</a></li>
										</ul>
										<p class="margin-top-23">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate atet standardized metrics after resource-leveling processes.</p>
										<a class="template-right2 read-more" href="#comment-form" title="Reply">Reply</a>
									</div>
								</li>
							</ul>
						</li>
						<li class="comment clearfix" id="comment-2">
							<div class="author-box">
								<img src="images/samples/100x100/image_10.jpg" alt="">
								<h5>George van der Berg</h5>
								<ul class="post-details">
									<li class="template-calendar">2 Days Ago</li>
								</ul>
								<p class="margin-top-23">Progressively maintain extensive infomediaries via extensible niches. Dramatically disseminate atet standardized metrics after resource-leveling processes. Objectively pursue diverse catalysts.</p>
								<a class="template-right2 read-more" href="#comment-form" title="Reply">Reply</a>
							</div>
						</li>
					</ul>
					<ul class="pagination page-margin-top">
						<li class="left">
							<a href="#" title="" class="template-left3">&nbsp;</a>
						</li>
						<li class="selected">
							<span>
								1
							</span>
						</li>
						<li>
							<a href="#" title="">
								2
							</a>
						</li>
						<li>
							<a href="#" title="">
								3
							</a>
						</li>
						<li class="right">
							<a href="#" title="" class="template-right3">&nbsp;</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="column column-1-3 fp-smart-column">
				<div class="fp-smart-column-wrapper">
					<ul class="vertical-menu widget-categories">
						<li>
							<a href="index-40.htm?page=category&amp;cat=accounting" title="Accounting">
								Accounting
								<span>4</span>
							</a>
						</li>
						<li>
							<a href="index-36.htm?page=category&amp;cat=business" title="Business">
								Business
								<span>2</span>
							</a>
						</li>
						<li>
							<a href="index-44.htm?page=category&amp;cat=consulting" title="Consulting">
								Consulting
								<span>3</span>
							</a>
						</li>
						<li>
							<a href="index-39.htm?page=category&amp;cat=finances" title="Finances">
								Finances
								<span>1</span>
							</a>
						</li>
						<li>
							<a href="index-45.htm?page=category&amp;cat=planning" title="Planning">
								Planning
								<span>2</span>
							</a>
						</li>
						<li>
							<a href="index-37.htm?page=category&amp;cat=taxes" title="Taxes">
								Taxes
								<span>6</span>
							</a>
						</li>
					</ul>
					<h5 class="margin-top-44">Latests posts</h5>
					<ul class="blog small margin-top-36 clearfix">
						<li>
							<a href="index-32.htm?page=post" title="5 reasons why your business needs an expense policy" class="post-image">
								<img src="images/samples/100x100/image_01.jpg" alt="">
							</a>
							<div class="post-content">
								<a href="index-32.htm?page=post" title="5 reasons why your business needs an expense policy">5 reasons why your business needs an expense policy</a>
								<abbr title="April 10, 2022">April 10, 2022</abbr>
							</div>
						</li>
						<li>
							<a href="index-32.htm?page=post" title="6 main differences between an LLC and a corporation" class="post-image">
								<img src="images/samples/100x100/image_02.jpg" alt="">
							</a>
							<div class="post-content">
								<a href="index-32.htm?page=post" title="6 main differences between an LLC and a corporation">6 main differences between an LLC and a corporation</a>
								<abbr title="March 17, 2022">March 17, 2022</abbr>
							</div>
						</li>
						<li>
							<a href="index-32.htm?page=post" title="What you need to know about bookkeeping services" class="post-image">
								<img src="images/samples/100x100/image_03.jpg" alt="">
							</a>
							<div class="post-content">
								<a href="index-32.htm?page=post" title="What you need to know about bookkeeping services">What you need to know about bookkeeping services</a>
								<abbr title="March 10, 2022">March 10, 2022</abbr>
							</div>
						</li>
					</ul>
					<form class="search-form page-margin-top" action="?page=search">
						<div class="border-container">
							<label>Search</label>
							<input class="text-input" name="s" type="text" value="" placeholder="e.g. business consulting">
							<input type="hidden" name="page" value="search">
							<fieldset class="search-submit-container">
								<span class="template-search4"></span>
								<input type="submit" value="" class="search-submit">
							</fieldset>
						</div>
					</form>
					<ul class="services-list page-margin-top">
						<li class="background background-6 fp-overlay">
							<h3><a href="index-19.htm?page=service_performance_management_and_improvement" title="Performance management and improvement">Get connected</a></h3>
							<h5>Feel free to get connected with our dedicated bookkeeping account for business.</h5>
							<div class="align-center">
								<a class="more style-4" href="index-19.htm?page=service_performance_management_and_improvement" title="Get started">Get started</a>
							</div>
						</li>
					</ul>
					<div class="row dark padding page-margin-top">
						<h5 class="white width-70">View our 2022 brochures for an easy to read guide on all of the services offer.</h5>
						<a class="fp-action-button template-download style-2 margin-top-36" href="#" title="Brochure Advisory">Brochure Advisory</a>
						<a class="fp-action-button template-download style-2 margin-top-10" href="#" title="Brochure Consulting">Brochure Consulting</a>
					</div>
					<h5 class="margin-top-44">Tags</h5>
					<ul class="taxonomies margin-top-36 clearfix">
						<li class="selected"><a href="#" title="Audit">AUDIT</a></li>
						<li><a href="#" title="Business">BUSINESS</a></li>
						<li><a href="#" title="Consulting">CONSULTING</a></li>
						<li><a href="#" title="Loans">LOANS</a></li>
						<li><a href="#" title="Finances">FINANCES</a></li>
						<li><a href="#" title="Fintech">FINTECH</a></li>
						<li><a href="#" title="Money">MONEY</a></li>
						<li><a href="#" title="Taxes">TAXES</a></li>
						<li><a href="#" title="Technology">TECHNOLOGY</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>			<div class="row dark footer-row full-width padding-top-100">
				<div class="row row-4-4">
					<div class="column column-1-4">
						<ul class="features-list">
							<li class="dark">
								<div class="icon template-phone"></div>
								<div class="item-content">
									<p>CALL US</p>
									<h5><a href="tel:+10555223224">+10 555 223 224</a></h5>
								</div>
							</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<ul class="features-list">
							<li class="dark">
								<div class="icon template-email2"></div>
								<div class="item-content">
									<p>E-MAIL</p>
									<h5><a href="/cdn-cgi/l/email-protection#eb838e878784ab8d82859b8e8a80c5888486"><span class="__cf_email__" data-cfemail="bfd7dad3d3d0ffd9d6d1cfdaded491dcd0d2">[email&#160;protected]</span></a></h5>
								</div>
							</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<ul class="features-list">
							<li class="dark">
								<div class="icon template-location2"></div>
								<div class="item-content">
									<p>ADDRESS</p>
									<h5>4744 Havanna Street</h5>
								</div>
							</li>
						</ul>
					</div>
					<div class="column column-1-4">
						<ul class="features-list">
							<li class="dark">
								<div class="icon template-calc"></div>
								<div class="item-content">
									<p>ONLINE</p>
									<h5><a href="index-27.htm?page=loan_cost_calculator">Loan Calculator</a></h5>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row dark footer-row full-width padding-top-63 padding-bottom-67">
				<div class="row row-4-4">
					<div class="column column-1-4">
						<h5>Finpeak</h5>
						<p class="margin-top-13">Finpeak is a company focused on finance. We offer accounting and tax advisory services, strategic consulting and loans. All in one place.</p>
						<div class="margin-top-30">
							<a class="more style-3" href="index-34.htm?page=contact" title="Find us on map">Find us on map</a>
						</div>
					</div>
					<div class="column column-1-4">
						<h5>Greensboro</h5>
						<p class="margin-top-13">4744 Havanna Street<br>Greensboro, NC 27444<br><a href="/cdn-cgi/l/email-protection#c3a4b1a6a6adb0a1acb1ac83a5aaadb3a6a2a8eda0acae"><span class="__cf_email__" data-cfemail="f0978295959e83929f829fb096999e8095919bde939f9d">[email&#160;protected]</span></a></p>
						<h5 class="margin-top-22">Boynton Beach</h5>
						<p class="margin-top-13">1020 Travis Street<br>Boynton Beach, FL 33436<br><a href="/cdn-cgi/l/email-protection#294e5b4c4c475a4b465b46694f4047594c4842074a4644"><span class="__cf_email__" data-cfemail="1a787563746e75745a7c73746a7f7b7134797577">[email&#160;protected]</span></a></p>
					</div>
					<div class="column column-1-4">
						<h5>Resources</h5>
						<ul class="list simple margin-top-22">
							<li class="template-right3"><a href="index-8.htm?page=service_accounting_and_tax_advisory_services" title="Accounting Office">Accounting Office</a></li>
							<li class="template-right3"><a href="index-18.htm?page=service_business_plans_valuations_and_analyzes" title="Consulting Office">Consulting Office</a></li>
							<li class="template-right3"><a href="index-17.htm?page=service_loans_and_reviews_of_financial_statements" title="Loans and Leasing">Loans and Leasing</a></li>
							<li class="template-right3"><a href="index-4.htm?page=about" title="About Us">About Us</a></li>
							<li class="template-right3"><a href="index-6.htm?page=services" title="Our Services">Our Services</a></li>
							<li class="template-right3"><a href="index-12.htm?page=team" title="Our Team">Our Team</a></li>
						</ul>
					</div>
					<div class="column column-1-4">
						<h5>Latest posts</h5>
						<ul class="latest-post margin-top-29">
							<li>
								<a href="index-32.htm?page=post" title="5 reasons why your business needs an expense policy">5 reasons why your business needs an expense policy</a>
								<abbr title="April 10, 2022">April 10, 2022</abbr>
							</li>
							<li>
								<a href="index-32.htm?page=post" title="6 main differences between an LLC and a corporation">6 main differences between an LLC and a corporation</a>
								<abbr title="March 17, 2022">March 17, 2022</abbr>
							</li>
						</ul>
					</div>
				</div>
				<div class="row page-padding-top">
					<ul class="social-icons align-center">
						<li>
							<a target="_blank" href="https://facebook.com/QuanticaLabs" class="social-facebook" title="facebook"></a>
						</li>
						<li>
							<a target="_blank" href="https://twitter.com/QuanticaLabs" class="social-twitter" title="twitter"></a>
						</li>
						<li>
							<a href="https://pinterest.com/quanticalabs/" class="social-pinterest" title="pinterest"></a>
						</li>
						<li>
							<a href="https://www.buymeacoffee.com/quanticalabs" class="social-paypal" title="paypal"></a>
						</li>
					</ul>
				</div>
				<div class="row align-center padding-top-34">
					<span class="copyright">© Copyright 2023 <a href="https://1.envato.market/finpeak-business-finance-consulting-template" title="Finpeak Template" target="_blank">Finpeak Template</a> by <a href="https://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a></span>
				</div>
			</div>
		</div>
		<a href="#top" class="scroll-top animated-element template-up1" title="Scroll to top"></a>
		<div class="background-overlay"></div>
		<div class="search-absolute-container">
			<form class="search-form" action="?page=search">
				<input type="text" name="s" placeholder="Search and hit enter..." value="" class="search-input">
				<fieldset class="search-submit-container">
					<span class="template-big-search"></span>
					<input type="submit" class="search-submit" value="">
				</fieldset>
				<input type="hidden" name="page" value="search">
			</form>
			<a href="#search-close" class="search-close template-big-close" title="Close search"></a>
		</div>
		<!--js-->
		<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-3.6.0.min.js"></script>
		<!--slider revolution-->
		<script src="rs-plugin/js/jquery.themepunch.tools.min.js"></script>
		<script src="rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
		<script src="js/jquery.ba-bbq.min.js"></script>
		<script src="js/jquery-ui-1.13.1.custom.min.js"></script>
		<script src="js/jquery.ui.touch-punch.min.js"></script>
		<script src="js/jquery.isotope-packed.js"></script>
		<script src="js/jquery.easing.1.4.1.min.js"></script>
		<script src="js/jquery.carouFredSel-6.2.1-packed.js"></script>
		<script src="js/jquery.touchSwipe.min.js"></script>
		<script src="js/jquery.transit.min.js"></script>
		<script src="js/jquery.costCalculator.min.js"></script>
		<script src="js/jquery.parallax.min.js"></script>
		<script src="js/jquery.prettyPhoto.js"></script>
		<script src="js/jquery.qtip.min.js"></script>
		<script src="js/jquery.blockUI.min.js"></script>
		<script src="js/jquery.imagesloaded-packed.js"></script>
				<script src="js/main.js"></script>
		<script src="js/odometer.min.js"></script>
		<link rel="stylesheet" type="text/css" href="style_selector/style_selector.css">
<script src="style_selector/style_selector.js"></script>
<div class="style-selector opened">
	<div class="style-selector-icon">
		&nbsp;
	</div>
	<div class="style-selector-content">
		<h4>Style Selector</h4>
		<ul>
			<li class="clearfix hide-on-mobile">
				<label>Menu Type</label>
				<select name="menu_type">
					<option value="sticky" selected="selected">Sticky</option>
					<option value="no_sticky">Normal</option>
				</select>
			</li>
			<li class="clearfix">
				<label>Top Bar</label>
				<select name="header_top_bar">
					<option value="disabled">Disabled</option>
					<option value="style-1" selected="selected">Style 1</option>
					<option value="style-2">Style 2</option>
					<option value="style-3">Style 3</option>
					<option value="style-4">Style 4</option>
					<option value="style-5">Style 5</option>
					<option value="style-6">Style 6</option>
				</select>
			</li>
						<li class="clearfix">
				<label>Header Type</label>
				<select name="header_type">
					<option value="type_1" selected="selected">Type 1</option>
					<option value="type_2">Type 2</option>
				</select>
			</li>
						<li class="clearfix">
				<label>Site preloader</label>
				<select name="fp_preloader">
					<option value="enabled" selected="selected">Enabled</option>
					<option value="disabled">Disabled</option>
				</select>
			</li>
		</ul>
	</div>
</div>
	</body>
</html>